<div style="line-height: 400px;
  height: 400px;
  margin-top: 30px;
  border: 2px dashed green;
  text-align: center;">	
  <h1>Amazon</h1>

<button style="background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 50px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;"><%= link_to 'Welcome', controller: 'categories' %></button>
</div>
